// swordsman animations
@import '../../assets/animations/player/swordsman/idle/SwordsmanIdle.scss';
@import '../../assets/animations/player/swordsman/run/SwordsmanRun.scss';
@import '../../assets/animations/player/swordsman/common-attack/SwordsmanCommonAttack.scss';
@import '../../assets/animations/player/swordsman/strong-attack/SwordsmanStrongAttack.scss';
@import '../../assets/animations/player/swordsman/hurt/SwordsmanHurt.scss';
@import '../../assets/animations/player/swordsman/heal/SwordsmanHeal.scss';
@import '../../assets/animations/player/swordsman/death/SwordsmanDeath.scss';

// skeleton swordsman animation
@import '../../assets/animations/monster/skeleton-swordsman/idle/SkeletonSwordsmanIdle.scss';
@import '../../assets/animations/monster/skeleton-swordsman/common-attack/SkeletonSwordsmanCommonAttack.scss';
@import '../../assets/animations/monster/skeleton-swordsman/hurt/SkeletonSwordsmanHurt.scss';
@import '../../assets/animations/monster/skeleton-swordsman/death/SkeletonSwordsmanDeath.scss';

.show {
	--blur: 0px;
	--spread: 1px;
	--pixel-size: 2px;
	--gutter-size: 0px;
	--shadow-mult: calc(var(--gutter-size) + var(--pixel-size));
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid $accent;
	overflow: hidden;

	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;

		&::after {
			left: 100%;
		}
		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-image: url('../../assets/images/dungeon-bg.jpg');
			background-size: 100% 100%;
		}

		&--move {
			animation: background-move $backgroundMoveAnimationTime forwards linear;
		}
	}

	&__swordsman {
		position: absolute;
		z-index: 2;
		left: 10px;
		height: var(--pixel-size);
		width: var(--pixel-size);
		animation: swordsman-idle $idleAnimationTime steps(1) infinite;

		&--run {
			animation: swordsman-run $runAnimationTime steps(1) infinite;
		}

		&--common-attack {
			animation: swordsman-common-attack $attackAnimationTime steps(1) forwards;
		}

		&--strong-attack {
			animation: swordsman-strong-attack $attackAnimationTime steps(1) forwards;
		}

		&--hurt {
			animation: swordsman-hurt $hurtAnimationTime steps(1) forwards;
		}

		&--death {
			animation: swordsman-death $deathAnimationTime steps(1) forwards;
		}

		&--heal {
			animation: swordsman-heal $healAnimationTime steps(1) forwards;
		}
	}

	&__skeleton-swordsman {
		position: absolute;
		z-index: 2;
		right: 96px;
		height: var(--pixel-size);
		width: var(--pixel-size);
		animation: skeleton-swordsman-idle $idleAnimationTime steps(1) infinite;

		&--common-attack {
			animation: skeleton-swordsman-common-attack $attackAnimationTime steps(1) forwards;
		}

		&--hurt {
			animation: skeleton-swordsman-hurt $hurtAnimationTime steps(1) forwards;
		}

		&--death {
			animation: skeleton-swordsman-death $deathAnimationTime steps(1) forwards;
		}

		&--appear {
			animation: skeleton-swordsman-idle $idleAnimationTime steps(1) infinite,
				monster-appear $appearAnimationTime infinite linear;
		}
	}

	@media (min-width: 1024px) {
		--pixel-size: 3px;

		&__skeleton-swordsman {
			right: 144px;

			&--appear {
				animation: skeleton-swordsman-idle $idleAnimationTime steps(1) infinite,
					monster-appear-desktop $appearAnimationTime infinite linear;
			}
		}
	}
}

@keyframes background-move {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes monster-appear {
	from {
		right: calc(-100% + 96px);
	}
	to {
		right: 96px;
	}
}

@keyframes monster-appear-desktop {
	from {
		right: calc(-100% + 144px);
	}
	to {
		right: 144px;
	}
}
