@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');

// colors
$light: #ffffffde;
$light-secondary: #f3f3f3;
$dark: #242424;
$dark-secondary: #1a1a1a;
$accent: #646cff;
$accent-secondary: #535bf2;

// fonts
$open-sans: 'Open Sans', sans-serif;
$nunito: 'Nunito', sans-serif;

// animations time
$idleAnimationTime: 750ms;
$runAnimationTime: 500ms;
$attackAnimationTime: 500ms;
$hurtAnimationTime: 300ms;
$healAnimationTime: 300ms;
$deathAnimationTime: 600ms;
$appearAnimationTime: 2000ms;
$backgroundMoveAnimationTime: 2000ms;
